# Laravel / PHP
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/database/*.sqlite
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
/.fleet
/.nova
/.phpunit.cache
/.zed
Homestead.json
Homestead.yaml
auth.json

# Build / deps
/dist/
package-lock.json.bak

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.swp
*.log

# Local temp
/tmp/
*.tmp
